.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    opacity: 0.8;
    /* background-color: #f7f7f7; */
    z-index: 5;
    top: 0;
   width: 100%;
}


.header__icon{
    /* object-fit: contain; */
    height: 100px;
    margin-left: 20px ;
}

