.search{
    position: absolute;
    top: 136px;
    left: 25%;
    z-index: 1;
    /* width: 100vw !important; */
}
.search>h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 380px;
}
.search>input{
    width: 559px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 420px;
    border: none;
   
}
.search >input:focus{
    outline-width: 0;
    /* border: 1px solid lightgray; */
}
.search>button{
    position: absolute;
    left: 0;
    top: 480px;
    text-transform: inherit !important;
    background-color: #f1ae62ee;
    color: white;
    width: 559px;
}
.search>button:hover{
   color: #f1ae62ee;
    background-color: white;
    transition: 0.2s ease-in;
}